# Temporary files
*.tmp
tmp*/
venv/
.venv
voxvera/
voxvera/src/

# OS and editor files
.DS_Store
Thumbs.db
*~
*.swp
__pycache__/
*.pyc

# Build and distribution artifacts
dist/
build/
*.egg-info/

# Electron app artifacts
gui/electron/node_modules/
gui/electron/dist/
gui/electron/build/
gui/electron/out/

# Generated host directories
host/*
!host/voxvera/

# CI logs
ci-logs/

# Onionshare logs and session files
*.log
*.onionshare-session
gui/electron/package-lock.json
voxvera/src/config.json
voxvera/src/index.html
voxvera/src/nostr.html
voxvera/src/qrcode-content.png
voxvera/src/qrcode-tear-offs.png
